.todo-handle_button {
  height: $size-xl;
  width: $size-xl;
  border-radius: 50%;
  position: absolute;
  background-color: $bg-secondary;
  box-shadow: $shadow-lg $bg-primary;
  display: grid;
  place-items: center;

  > svg {
    height: $size-md;
    width: $size-md;
  }

  &:hover,
  &.todo-create_button:hover,
  &.todo-delete_button:hover {
    cursor: pointer;
    border: 0.3rem solid $color-primary;
    box-shadow: $shadow-lg $color-primary;
  }

  &.todo-create_button {
    right: $spacing-lg;
    bottom: $spacing-lg;
  }

  &.todo-delete_button {
    left: $spacing-lg;
    bottom: $spacing-lg;
  }
}
