.todo-search_label {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $text-primary;
  background-color: $bg-secondary;
  border-radius: $size-xs;
  box-shadow: $shadow-md rgba(0, 0, 0, 0.2);
}

.todo-search_label:focus {
  border: $size-xs solid $color-primary;
  box-shadow: $shadow-lg $color-primary;
}

.todo-search-icon {
  margin: 0 $spacing-sm;
  height: $size-sm;
  width: $size-sm;
}

.todo-search_input {
  width: 100%;
  height: $size-xl;
  outline: none;
  border: none;
  caret-color: $text-primary;
  color: $text-primary;
}

@media screen and (min-width: $breakpoint-lg) {
  .container-item:hover .item-icon_close {
    visibility: visible;
  }

  .item-icon_close {
    visibility: hidden;
  }
}
