.container-list {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
}

.container-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: none;
}

.container-list::-webkit-scrollbar-thumb {
  background-color: $bg-secondary;
  border-radius: $size-xs;
}