.dropdown-container {
  width: auto;
  height: $size-xl;
  display: inline-block;
  background-color: $bg-secondary;
  border-radius: $size-xs;
  border: 0.2rem solid $bg-secondary;
  box-shadow: $shadow-md rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  position: relative;
  font-size: $md-font-size;
  color: $text-primary;
  text-align: left;

  &:hover {
    box-shadow: $shadow-md rgba(0, 0, 0, 0.4);
  }

  &:active {
    background-color: $bg-primary;
  }

  &.active {
    box-shadow: $shadow-md rgba(0, 0, 0, 0.4);
    border: 0.2rem solid $color-primary;
    background-color: $bg-secondary;
    border-radius: $size-xs $size-xs 0 0;
    transform-origin: center;

    .select > svg:last-child {
      transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
      transform: rotateX(180deg);
    }
  }

  .select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    > svg {
      font-size: $lg-font-size;
      color: $color-primary;
      margin: 0 $spacing-sm;
      display: block;
    }

    > span,
    > svg:last-child {
      display: none;
    }

    @media (min-width: $breakpoint-sm) {
      > span,
      > svg:last-child {
        display: inline;
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    background-color: $bg-secondary;
    width: 20rem;
    left: 0;
    right: auto;
    box-shadow: $shadow-md rgba(0, 0, 0);
    border-radius: $size-xs 0 $size-xs $size-xs;
    overflow: hidden;
    display: none;
    height: auto;
    margin-top: $spacing-sm;
    z-index: $z-index-dropdown;

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      height: $size-lg;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      > svg {
        font-size: $lg-font-size;
        color: $color-primary;
        margin: 0 $spacing-sm;
      }

      &:hover {
        background-color: rgba(142, 142, 142, 0.478);
      }

      &:active {
        background-color: #7f7f7f;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .dropdown-menu {
      top: 100%; /* Ajusta la posición del menú para que se despliegue hacia abajo */
      left: auto; /* Ajusta la posición del menú para que esté alineado a la izquierda */
      right: 0;
    }
  }

  &.active .dropdown-menu {
    display: block;
  }
}
