.todo-create_button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: #5858587a;

  box-shadow: 0rem 0rem 5rem 0px rgba(0, 0, 0),
}

.todo-create_button:hover {
  cursor: pointer;
  background-color: #8e8e8e7a;
}
