.item-container {
  width: 99%;
  margin-bottom: $spacing-xs;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: $size-xxl;
  padding: 0 $spacing-xs 0 $spacing-sm;
  background-color: $bg-secondary;
  border-radius: $size-xs;
}

.item-icon_check {
  border-radius: 50%;
  border: solid #999;
  height: $size-lg;
  width: $size-lg;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.item-icon {
  height: $size-lg;
  width: $size-lg;
  padding: $size-xs;
  border-radius: 50%;
  place-content: center;
}

.item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0rem 1rem;
}

.item-text {
  font-size: $md-font-size;
}

.item-date {
  font-size: $sm-font-size;
}

.item-icon:hover {
  background-color: rgba(142, 142, 142, 0.48);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #999;
}
