.container-list {
  width: 80vw;
  height: 65vh;
  border: 1px solid #ccc;
  overflow-y: auto;
  border: none;
}

.container-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: none;
}

.container-list::-webkit-scrollbar-thumb {
  background-color: $bg-secondary;
  border-radius: 5px;
}