.item-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  height: 6rem;
  background-color: $bg-secondary;
  border-radius: 1rem;
}

.item-content {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item-text {
  font-size: 1.6rem;
}

.item-date {
  font-size: 1.4rem;
}

.item-icon {
  border-radius: 50%;
  place-content: center;
  height: 4rem;
  width: 4rem;
  padding: 0.8rem;
}

.item-icon:hover {
  background-color: #8e8e8e7a;
  cursor: pointer;
}

.item-icon_check {
  border-radius: 50%;
  border: solid #999;
  height: 4rem;
  width: 4rem;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #999;
}
