$color-primary: #16db65;

$bg-primary: #1d1d20;
$bg-secondary: #242727;

$text-primary: #d9d9d9;
$sm-font-size: 1.2rem;
$md-font-size: 1.4rem;
$lg-font-size: 1.6rem;
$font-family-primary: 'Poppins', sans-serif;