#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

header {
  text-align: center;
  grid-area: 2 / 2 / 2 / 12;
}

main {
  text-align: center;
  grid-area: 3 / 2 / 13 / 12;
}